{{ui-block/sketch stage=stage class='sketch'}}

<div class="info">
  <div class="block">
    <div>{{stage}}</div>
  </div>

  <div class="block">
    <div>{{stage.doc}}</div>
  </div>

  <div class="block">
    <div>
      {{#each stage.content as |node|}}
        <div role="button" {{action "setGlobal" "node" node}}>{{node}}</div>
      {{/each}}
    </div>
  </div>

  <div class="block">
    <div class="title">Hover</div>
    <div>
      {{#each stage.node.hover.all as |node|}}
        <div role="button" {{action "setGlobal" "node" node.model}}>{{node.model}}</div>
      {{/each}}
    </div>
  </div>

  <div class="block">
    <div class="title">Selection</div>
    <div>
      {{#each stage.node.selection.all as |node|}}
        <div role="button" {{action "setGlobal" "node" node.model}}>{{node.model}}</div>
      {{/each}}
    </div>
  </div>

</div>